# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# VSCode
.vscode/
*.code-workspace

# Node
node_modules/
dist/
build/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db
